<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!-- Connection Details -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:postgresql://192.168.56.102:5432/postgresdb</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
        <!-- Other properties -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Auto update database schema (create tables if are not created yet) base on configuration files -->
        <!-- Remove this line for production -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Hibernate Mappings  -->
        <!-- mapping resource = "hibernate/mappings/TableName.hbm.xml" /-->
        <mapping class="com.dur.database.entity.TableName"/>
        
    </session-factory>
</hibernate-configuration>
